@charset "utf-8";

/* --- ページ全体 --- */
body {
  background-color: #fff;
}

/* --- ヘッダー --- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 60px;
  background: rgb(247, 225, 198);
  width: 100%;
}

.logo {
  margin: 0;
  position: relative;
  z-index: 99;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  height: 50px;
  z-index: 100;
  margin: 7px 0 auto 10px;
}

.hamburger_hidden {
  display: none;
}

.hamburger_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.hamburger_open span,
.hamburger_open span:before,
.hamburger_open span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: rgb(0, 0, 0);
  transition: 0.5s;
  position: absolute;
}

.hamburger_open span:before {
  bottom: 8px;
}

.hamburger_open span:after {
  top: 8px;
}

#hamburger_check:checked ~ .hamburger_open span {
  background: rgba(255, 255, 255, 0);
}

#hamburger_check:checked ~ .hamburger_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#hamburger_check:checked ~ .hamburger_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger_content {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 98;
  background: rgb(247, 225, 198);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

#hamburger_check:checked ~ .hamburger_content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.hamburger_list {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}

.hamburger_list a {
  text-decoration: none;
  display: block;
  color: black;
}

.hamburger_list a:hover {
  background: rgb(218, 197, 197);
}

.hamburger_list li {
  list-style-type: none;
}

.p_border {
  display: flex;
  align-items: center;
  width: 300px;
  font-family: tbcinergothic-std, sans-serif;
}

.p_border:before,
.p_border:after {
  border-top: 1px solid rgb(0, 0, 0);
  content: "";
  flex-grow: 1;
  width: 130px;
  display: block;
}

.p_border:before {
  margin-right: 1rem;
}

.p_border:after {
  margin-left: 1rem;
}

.hamburger_item {
  list-style-type: none;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 0;
}

.sns_button_list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 300px;
}

.sns_button {
  list-style-type: none;
}

.sns_button img {
  height: 30px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 350px) {
  .logo img {
    width: 200px;
    height: auto;
  }
}

@media screen and (min-width: 769px) {
  .hamburger_open {
    display: none;
  }
  .hamburger_content {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .hamburger_list {
    flex-flow: row;
    justify-content: center;
  }
  .hamburger_item {
    margin: 0 20px;
  }
  .p_border {
    width: 150px;
  }
  .sns_button_list {
    display: none;
  }
}

/* --- メイン --- */
main {
}

.slick {
  margin: 0;
  padding: 0;
}

.slick img {
  width: 100%;
}

/* --- フッター --- */
.footer {
  background: rgb(218, 197, 197);
  display: flex;
}

.footer_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 40px;
  margin: 0;
}

.footer_menu li {
  list-style-type: none;
}

.footer_menu .footer_menu_list {
  list-style-type: none;
  display: inline-block;
  transform: scale(0.8);
  margin: 0;
  font-size: 10px;
  font-family: tbcinergothic-std, sans-serif;
}

.footer_sns_button_list {
  padding: 0;
  display: none;
}

.footer_sns_button {
  margin: 5px 10px;
  list-style-type: none;
}

.footer_sns_button img {
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.footer_menu .footer_menu_list a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.footer_menu .footer_menu_list a::before {
  display: inline-block;
  content: ">";
  transform: scale(0.7);
}

.footer_menu .footer_menu_list:last-child {
  margin-left: auto;
  font-size: 18px;
  font-family: wreath, serif;
}

@media screen and (min-width: 769px) {
  .footer_sns_button_list {
    display: flex;
  }
}

@media screen and (max-width: 420px) {
  .footer_menu .footer_menu_list {
    transform: scale(0.6);
    margin-right: -20px;
  }
}
