@charset "utf-8";

/* --- ページ全体 --- */
body {
  background-color: rgb(255, 255, 255);
}

.menu_gallery_about {
  font-family: tbcinergothic-std, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.menu_gallery_about::before,
.menu_gallery_about::after {
  border-top: 1px solid #000;
  width: 100px;
  content: "";
  flex-grow: 1;
  display: block;
}

.menu_gallery_about::before {
  margin: 0 1vw 0 10vw;
}

.menu_gallery_about::after {
  margin: 0 10vw 0 1vw;
}

/* --- /ページ全体 --- */


/* --- ヘッダー --- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 60px;
  background: rgb(247, 225, 198);
  width: 100%;
}

.logo {
  margin: 0;
  position: relative;
  z-index: 99;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  height: 30px;
  z-index: 100;
  margin: 7px 0 auto 10px;
}

.hamburger_hidden {
  display: none;
}

.hamburger_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.hamburger_open span,
.hamburger_open span:before,
.hamburger_open span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: rgb(0, 0, 0);
  transition: 0.5s;
  position: absolute;
}

.hamburger_open span:before {
  bottom: 8px;
}

.hamburger_open span:after {
  top: 8px;
}

#hamburger_check:checked ~ .hamburger_open span {
  background: rgba(255, 255, 255, 0);
}

#hamburger_check:checked ~ .hamburger_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#hamburger_check:checked ~ .hamburger_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger_content {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 98;
  background: rgb(247, 225, 198);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

#hamburger_check:checked ~ .hamburger_content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.hamburger_list {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}

.hamburger_list a {
  text-decoration: none;
  display: block;
  color: black;
}

.hamburger_list a:hover {
  background: rgb(218, 197, 197);
}

.hamburger_list li {
  list-style-type: none;
}

.p_border {
  display: flex;
  align-items: center;
  width: 300px;
  font-family: tbcinergothic-std, sans-serif;
}

.p_border:before,
.p_border:after {
  border-top: 1px solid rgb(0, 0, 0);
  content: "";
  flex-grow: 1;
  width: 130px;
  display: block;
}

.p_border:before {
  margin-right: 1rem;
}

.p_border:after {
  margin-left: 1rem;
}

.hamburger_item {
  list-style-type: none;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 0;
}

.sns_button_list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 300px;
}

.sns_button {
  list-style-type: none;
}

.sns_button img {
  height: 30px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 350px) {
  .p_border {
    width: 200px;
  }
  .p_border:before,
  .p_border:after {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .logo img {
    height: 50px;
  }
  .hamburger_open {
    display: none;
  }
  .hamburger_content {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .hamburger_list {
    flex-flow: row;
    justify-content: center;
  }
  .hamburger_item {
    margin: 0 20px;
  }
  .p_border {
    width: 150px;
  }
  .sns_button_list {
    display: none;
  }
}

/* --- /ヘッダー --- */


/* --- メインHome --- */
main {
  width: 100%;
  min-width: 20vh;
}

.slick {
  margin: 0;
  padding: 0;
}

.slick img {
  width: 100%;
}

.main_container {
  max-width: 1200px;
  margin: 0 auto;
}

.main_box_1 {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.menu_box {
  width: 80%;
  margin: 10px 20px;
  background-color: #fff;
  transition: 0.2s;
}

.menu_box:hover {
  filter: drop-shadow(0 0 10px rgb(247, 225, 198));
  transition: 0.2s;
}

.menu_box a {
  color: black;
  text-decoration: none;
}

.menu_box h2 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-family: tbcinergothic-std, sans-serif;
  font-size: 17px;
}

.menu_box h2::before,
.menu_box h2::after {
  border-top: 1px solid rgb(0, 0, 0);
  content: "";
  flex-grow: 1;
  width: 10px;
  display: block;
}

.menu_box h2::before {
  margin: 0 10% 0 10%;
}

.menu_box h2::after {
  margin: 0 10% 0 10%;
}

.menu_box p {
  margin: 0 10px;
  text-align: center;
}

.menu_box p:last-child {
  padding-bottom: 10px;
}

.main_box_1 img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  main {
  margin-top: 60px;
  }
  .main_box_1 {
    flex-flow: row;
  }
  .menu_box {
    width: 40%;
  }
}
/* --- /メインHome --- */

/* --- メインMenu --- */
.food {
  font-family: tbcinergothic-std, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 10px;
}

.food::before,
.food::after {
  border-top: 1px solid #000;
  width: 100px;
  content: "";
  flex-grow: 1;
  display: block;
}

.food::before {
  margin: 0 1vw 0 30vw;
  width: 10vw;
}

.food::after {
  margin: 0 30vw 0 1vw;
  width: 10vw;
}

.menu_list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 30px auto;
}

.menu_item {
  display: flex;
  max-width: 400px;
  margin: 5px 0px;
}

.menu_item img {
  width: 200px;
  height: auto;
}

.menu_explanation {
  width: 120px;
  margin: 0 2vw 0 2vw;
  font-family: tbcinergothic-std, sans-serif;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 420px) {

}

/* --- /メインMenu --- */

/* --- メインGallery --- */

.gallery_list {
  display: flex;
  justify-content: center;
  margin: 0 50px;
  flex-wrap: wrap;
}

.gallery_item {
  width: 400px;
}

.gallery_item a {
  display: block;
}

.gallery_item img {
  display: block;
  width: 100%;
}

/* --- /メインGallery --- */

/* --- メインAbout --- */

.about_box p {
  text-align: center;
  margin: 10px;
}

.address {
  margin: 20px;
}

.google_map {
  margin: 20px auto;
  width: 100vw;
  height: 70vh;
}

@media screen and (min-width: 769px) {
  .google_map {
    width: 80vw;
  }
}

/* --- /メインAbout --- */

/* --- フッター --- */
.footer {
  background: rgb(218, 197, 197);
  display: flex;
}

.footer_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 40px;
  margin: 0;
}

.footer_menu li {
  list-style-type: none;
}

.footer_menu .footer_menu_list {
  list-style-type: none;
  display: inline-block;
  transform: scale(0.8);
  margin: 0;
  font-size: 10px;
  font-family: tbcinergothic-std, sans-serif;
}

.footer_sns_button_list {
  padding: 0;
  display: none;
}

.footer_sns_button {
  margin: 5px 10px;
  list-style-type: none;
}

.footer_sns_button img {
  height: 27px;
  text-align: center;
  cursor: pointer;
}

.footer_menu .footer_menu_list a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.footer_menu .footer_menu_list a::before {
  display: inline-block;
  content: ">";
  transform: scale(0.7);
}

.footer_menu .footer_menu_list:last-child {
  margin-left: auto;
  font-size: 18px;
  font-family: wreath, serif;
}

@media screen and (min-width: 769px) {
  .footer_sns_button_list {
    display: flex;
    height: 40px;
  }
}

@media screen and (max-width: 420px) {
  .footer_menu .footer_menu_list {
    transform: scale(0.6);
    margin-right: -20px;
  }
}
/* --- /フッター --- */
